body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Yeseva One', cursive;
}
/* navbar */
.nav-container{
    display: flex;
    justify-content: space-between;
    color: #181818;
}
nav>ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
    justify-content: center;
}
/* navbar-end */
.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding: 80px;
    margin: 130px;
}

.banner.image-class {
   
    width: 500px;

}
.head-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
   
    font-weight: 800;
}

.head-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}
.btn-primary{
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
}